 @function luma($c) {
   $-local-red: red(rgba($c, 1.0));
   $-local-green: green(rgba($c, 1.0));
   $-local-blue: blue(rgba($c, 1.0));
   
   @return (0.2126 * $-local-red  +
            0.7152 * $-local-green +
            0.0722 * $-local-blue) / 255;
 
 }
 
 @function pick-visible-color($bg, $c1, $c2) {
 
   $bg-luma: luma($bg);
   $c1-luma: luma($c1);
   $c2-luma: luma($c2);
   $c1-diff: abs($bg-luma - $c1-luma);
   $c2-diff: abs($bg-luma - $c2-luma);
 
   @if $c1-diff > $c2-diff {
     @return $c1;
   } @else {
     @return $c2;
   }
 }
 
  @function set-foreground-text-color($background-color) {
    @return pick-visible-color($background-color, #000000, #ffffff)
 }
 
 /************************** Global SCSS Variables ***************************************/
 
 //// This value controld the background color of the app and should stay white 
 $AppBckClr:#FFF;
 
 //// This is the value for overall font family
 $FntFamily: 'Helvetica', 'HelveticaNeue', 'Arial', 'sans-serif';
 
//// This value controls the overall font color
$FntClr:#000;

///// This value controls that color of the following items: field labels, Display text, border-color, and secondary text
$neutralClr:#8c8b8b;


///// This value controls the color of the following items: error labels
$errorTxtClr:red;


/////  This value controls the color of the following item(s): List (hover and active).
$ThmeA_LstClrHover:#8c8b8b;
 
 /************************** Global SCSS Variables ***************************************/
 
 
 

/************************************************* Theme A SCSS Variables ***************************************/


/************* Header, Statusbar, PointsNumbers, Icons  ************/

/////  This value controls the color of the following item(s): Header/Banner and *Statusbar.
$ThmeA_HdrClr:<%Color1%>;

/////  This value controls the text color of the following item(s): Header/Banner.
$ThmeA_HdrTxtClr:set-foreground-text-color($ThmeA_HdrClr);

/////  This value controls the color of the following item(s): PointsNumber.
$ThmeA_PntClr:<%Color1%>;

/////  This value controls the color of the following item(s): Carats ( actually color is adjusted below ).
$ThmeA_CrtClr:<%Color1%>;

/////  This value controls the color of the following item(s): Menu Icons.
$ThmeA_MnuIconClr:<%Color2%>;


/************* Dividers and Collapsible(s)  ************/

/////  This value controls the color of the following item(s): Dividers.
$ThmeA_DvdClr:<%Color3%>;

/////  This value controls the color of the following item(s): Dividers Text.
$ThmeA_DvdTxtClr:set-foreground-text-color($ThmeA_DvdClr);

/////  This value controls the color of the following item(s): Collapsible.
$ThmeA_ClpClr:<%Color3%>;

/////  This value controls the color of the following item(s): Collapsible Text.
$ThmeA_ClpTxtClr:set-foreground-text-color($ThmeA_ClpClr);



/*************   Links and Buttons  ************/

/////  This value controls the color of the following item(s): Links (normal and visited).
$ThmeA_LnkClrNormal:<%Color2%>;

/////  This value controls the color of the following item(s): Links (hover and active).
$ThmeA_LnkClrHover:<%Color1%>;

/////  This value controls the color of the following item(s): Button (normal and visited).
$ThmeA_btnClrNormal:<%Color2%>;

/////  This value controls the color of the following item(s): Button Text (normal and visited).
$ThmeA_btnTxtClrNormal:set-foreground-text-color($ThmeA_btnClrNormal);

/////  This value controls the color of the following item(s): Button (hover and active).
$ThmeA_btnClrHover:<%Color1%>;

/////  This value controls the color of the following item(s): Button Text (hover and active).
$ThmeA_btnTxtClrHover:#FFF;

// This value controls the radius of the buttons within the app
$buttonCrns: 0em !important;

// This value controls if buttons are: bevel or noBevel
$buttonType: noBevel;


/************************** Theme A SCSS Variables ***************************************/



/****************************************** Global(s) & Mixin(s) *****************************************************/

//// Mixin for psg section name
@mixin sectionHeaderStyles {
    border-bottom: solid 2px $ThmeA_DvdClr;
    margin: 0em -1em 0.9em -1em;
    padding: 0 0 .75em 15px;
    line-height: 2.0em;
    font-family:inherit;
    font-size: 1.1em;
    font-weight: normal;
}


//// Mixin for input fields
@mixin inputStyles {
    
    @if $buttonType == bevel {
	
	border-top: solid .15em $neutralClr !important;
	border-right: solid .1em $neutralClr !important;
	border-left: solid .1em $neutralClr !important;
	border-bottom: solid .1em $neutralClr !important;
	border-radius: $buttonCrns;
	-webkit-border-radius: $buttonCrns;
	padding: .2em;
    
    } @else if $buttonType == noBevel {
	
	border-top:none !important;
	border-right:none !important;
	border-left:none !important;
	border-bottom: solid .1em $neutralClr !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	
	
    }
    
}

//// Mixin for shopping Description
@mixin shopDescrptStyles{
	    font-size: .80em !important;
	    display: block;
	    margin: .6em 0;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    font-family: inherit !important;
	}	
	


//// Mixin for shopping Points
@mixin shopPntsStyles{
	    color: $ThmeA_PntClr !important;
	    font-weight: bold !important;
	    font-size: 1.25em !important;
	}
	


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: $AppBckClr; 
    
    background-attachment:fixed;
    font-family:  $FntFamily;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#FFF;
    display:block;
	text-align:center;
}

.event.received {
    background-color:#FFF;
    display:none;
	text-align:center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



html {
	font-size: 100%;
}

input,
select,
textarea,
button,
.ui-btn {
	font-size: 1em;
	line-height: 1.3;
}

.ui-input-search.ui-corner-all {
    @include inputStyles;
}

.ui-input-text.ui-corner-all {
    @include inputStyles;
    margin: 0;
    
    input{
	margin:0;
	padding:0;
	font-size:.95em;
	min-height: 1.0em;
    }
}


//// Controls the color of the carats in the menu, body, and header (if needed default color is white)  ***** Change the Hex color "EFEFEF" between "fill%3A%EFEFEF%"   leave blank for black "fill%3A%%" ****** 

.ui-content .ui-listview > li > a.ui-icon-carat-r:after{
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%%3B%22%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E");
    background-size: 50%;
    
}

.ui-panel-inner .ui-listview > li > a.ui-icon-carat-r:after{
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%%3B%22%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E");
    background-size: 50%;
}

.ui-content .ui-icon-info:after{
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%2327306a%22%20d%3D%22M7%2C0C3.134%2C0%2C0%2C3.134%2C0%2C7s3.134%2C7%2C7%2C7s7-3.134%2C7-7S10.866%2C0%2C7%2C0z%20M7%2C2c0.552%2C0%2C1%2C0.447%2C1%2C1S7.552%2C4%2C7%2C4S6%2C3.553%2C6%2C3%20S6.448%2C2%2C7%2C2z%20M9%2C11H5v-1h1V6H5V5h3v5h1V11z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

///// Header/Banner area
.ui-header .ui-icon-carat-l:after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2210.596%2C11.949%205.646%2C7%2010.596%2C2.05%208.475%2C-0.071%201.404%2C7%208.475%2C14.07%20%22%2F%3E%3C%2Fsvg%3E");
}


.ui-header .ui-icon-carat-l:after {
    background-size: 80% !important;
}

.ui-header .ui-icon-bullets:after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M5%2C4h8c0.553%2C0%2C1-0.447%2C1-1s-0.447-1-1-1H5C4.447%2C2%2C4%2C2.447%2C4%2C3S4.447%2C4%2C5%2C4z%20M13%2C6H5%20C4.447%2C6%2C4%2C6.447%2C4%2C7c0%2C0.553%2C0.447%2C1%2C1%2C1h8c0.553%2C0%2C1-0.447%2C1-1C14%2C6.447%2C13.553%2C6%2C13%2C6z%20M13%2C10H5c-0.553%2C0-1%2C0.447-1%2C1%20s0.447%2C1%2C1%2C1h8c0.553%2C0%2C1-0.447%2C1-1S13.553%2C10%2C13%2C10z%20M1%2C2C0.447%2C2%2C0%2C2.447%2C0%2C3s0.447%2C1%2C1%2C1s1-0.447%2C1-1S1.553%2C2%2C1%2C2z%20M1%2C6%20C0.447%2C6%2C0%2C6.447%2C0%2C7c0%2C0.553%2C0.447%2C1%2C1%2C1s1-0.447%2C1-1C2%2C6.447%2C1.553%2C6%2C1%2C6z%20M1%2C10c-0.553%2C0-1%2C0.447-1%2C1s0.447%2C1%2C1%2C1s1-0.447%2C1-1%20S1.553%2C10%2C1%2C10z%22%2F%3E%3C%2Fsvg%3E");
}

.ui-header .ui-icon-bullets:after {
    background-size: 100% !important;
}


//////////////////// Input Place holder text  //////////////////////

::-webkit-input-placeholder {
   color: $neutralClr;
}

:-moz-placeholder { /* Firefox 18- */
   color: $neutralClr;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $neutralClr;  
}

:-ms-input-placeholder {  
   color: $neutralClr;  
}

legend,
.ui-input-text input,
.ui-input-search input {
	color: inherit;
	text-shadow: inherit;
}

.error {
    color:$errorTxtClr !important;
}

.validate-error{
	color:$errorTxtClr !important;
    display:block;
}

/* Form labels (overrides font-weight bold in bars, and mini font-size) */
.ui-mobile label,
div.ui-controlgroup-label {
	font-weight: normal;
	font-size: .65em;
	margin: 0 0 .4em;
	color:$neutralClr;
}


#qpointsContainer{
	overflow: hidden;
	width: 100%;
	margin-bottom: 5px;
	.panelLeft{
		width:75%;
		clear:left;
		margin:0;
		padding:0;
		float:left;
		min-height: 1px;
		text-align: center;
		
		.innerpnlLft{
			position: relative;
			padding: .4em 0;
			overflow: hidden;
			display: block;
			clear: both;
		}
	}
	
	.panelRight{
		width:20%;
		margin:0;
		padding:0;
		float:left;
		min-height: 1px;
		text-align: right;
		
		.innerpnlRgt{
			position: relative;
			padding: .4em 0 .06em;
			overflow: hidden;
			display: block;
			clear: both;
			border-bottom: solid 0.1em $neutralClr;
			span{
				padding-bottom: 1px;	
			}
		}
	}
}


#shoppingsearch_search_department{
    margin: 15px 0 10px 0;
}

.customInput{
    margin-bottom: 2em !important;
    i.ui-input-icon{
	top:0 !important;	
    }
}

textarea.ui-input-text{
    background-color: #e3e1e1 !important;
}


#avalShpPnts {
    
    padding-top:2.5em;
    
    p{
	color:$neutralClr;
	font-size: .7em;
	display: block;
	margin:0;
    }
    span{
	color:$ThmeA_PntClr;
	font-size: 1.5em;
	font-weight: bold;
    }
    
}

.ui-text-right {
	text-align: right;
	color:$ThmeA_PntClr;
	font-weight: bold !important;
}

.ui-float-right {
	position: relative;
	float: right;
	color:$ThmeA_PntClr;
	font-weight: bold !important;
}


.shopDscptStyle{
@include shopDescrptStyles;
}
.shopPtsStyle{
    @include shopPntsStyles;
}

#psg_detail_item_title{
	margin: 0 -1em 0 -1em;
	font-family: inherit;
	font-size: .95em;
	border-bottom: solid $neutralClr .05em;
	padding: 0 1em 1em 1em;
}

div#psg_jqx_progress_bar_0.jqx-progressbar.jqx-widget.jqx-widget-content.jqx-rc-all[style]{
    /*width: 99% !important;*/
    background-color: $neutralClr !important;
    /*border-radius: $buttonNoCrns;
    -webkit-border-radius: $buttonNoCrns;*/
}

div.jqx-progressbar-value.jqx-fill-state-pressed[style]{
    background-color: lighten($ThmeA_PntClr, 10%) !important;
   /* width: 100% !important;*/
}

/* List Views
-----------------------------------------------------------------------------------------------------------*/

//// Mixin for listviews
@mixin listViewStyles {
    
    color: #000;
    font-size: .95em;
    font-weight: lighter;
    border-color:$neutralClr;
    
    .ui-btn-icon-right::after {
	background-size: 50%;
    }
    
}


.ui-listview > li > a.ui-btn{
	border-width: 0 0 .1em 0;
	border-color:$neutralClr !important;
    }

.ui-listview > .ui-li-static {
    border-width: 0 0 .1em 0;
    border-color:$neutralClr !important;
}

#page_home .ui-listview > li.ui-first-child > a.ui-btn {
    border-width: 2px 0 .1em 0 !important;
    
}

.ui-listview > li > a.ui-btn {
    
    @include listViewStyles;
}

.ui-listview > li {
    
    span.ui-li-aside {
	color:$ThmeA_PntClr !important;
	font-weight: bold;
	font-size: .95em !important;
	top:.7em !important;
    }
    
}

.ui-listview.lwrLstView {
    padding-top: 3em;
}


.ui-li-count {
   color:$ThmeA_PntClr !important;
   text-shadow: none !important;
   background-color:transparent !important;
}



ul#psg-listview-claimdetail-status{
    margin-bottom: 1em !important;
    li.ui-field-contain span{
	color:#000 !important;
	font-size: .8em !important;
    }
}

ul#psg-listview-claimdetail-details{
    li.ui-field-contain span{
	color:#000 !important;
	font-size: .8em !important;
    }
}



/* Corner rounding
-----------------------------------------------------------------------------------------------------------*/


////// Corners for buttons etc. Variables //////////////////////////

.btnCrns{
    -webkit-border-radius: 0.6125em !important;
    border-radius: 0.6125em !important;
}


#page_start div.ui-footer.ui-bar-a.ui-footer-fixed.slideup ul.ui-grid-a .linkBtn, #page_login div.ui-footer.ui-bar-a.ui-footer-fixed.slideup ul.ui-grid-a .linkBtn{
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}


.ui-corner-all {
	-webkit-border-radius: .6em /*{global-radii-blocks}*/;
	border-radius: .6em /*{global-radii-blocks}*/;
}
/* Buttons */
.ui-btn-corner-all,
.ui-btn.ui-corner-all,
/* Slider track */
.ui-slider-track.ui-corner-all,
/* Flipswitch */
.ui-flipswitch.ui-corner-all,
/* Count bubble */
.ui-li-count {
	-webkit-border-radius: .3125em /*{global-radii-buttons}*/;
	border-radius: .3125em /*{global-radii-buttons}*/;
}


button.ui-btn.ui-icon-plus.shopping-cart-add{
   border-radius: 2.5em !important;
    -webkit-border-radius: 2.5em !important;
    width: 1.75em !important;
}

button.ui-btn.ui-icon-minus.shopping-cart-subtract{
    border-radius: 2.5em !important;
    -webkit-border-radius: 2.5em !important;
     width: 1.75em !important;
}

/* Icon-only buttons */
.ui-btn-icon-notext.ui-btn-corner-all,
.ui-btn-icon-notext.ui-corner-all {
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/* Radius clip workaround for cleaning up corner trapping */
.ui-btn-corner-all,
.ui-corner-all {
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
/* Popup arrow */
.ui-popup.ui-corner-all > .ui-popup-arrow-guide {
	left: .6em /*{global-radii-blocks}*/;
	right: .6em /*{global-radii-blocks}*/;
	top: .6em /*{global-radii-blocks}*/;
	bottom: .6em /*{global-radii-blocks}*/;
}



/* Icons
-----------------------------------------------------------------------------------------------------------*/


.psg-section-name{
    @include sectionHeaderStyles;
    
    .ui-menu-icon{
	color: $ThmeA_MnuIconClr;
    }
}


/* App welcome and home page configuration styles
-------------------------------------------------------------------------------------------*/

.ui-alt-title-color {
	color: $ThmeA_LnkClrNormal;
}



#homeLogo{
	margin-bottom: 15px;
	<%homeLogo%>
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

}

/* Panel buttons area for home screen */

#panelContainer{
	overflow: hidden;
	width: 100%;
	margin-bottom: 24px;
	.panelLeft{
		width:49.95%;
		clear:left;
		margin:0;
		padding:0;
		float:left;
		min-height: 1px;
		text-align: center;
		
		.innerpnlLft{
			position: relative;
			padding: .4em 1em;
			overflow: hidden;
			display: block;
			clear: both;
			img{
			    height: 80px;
			    
			}
		}
	}
	
	.panelRight{
		width:49.95%;
		margin:0;
		padding:0;
		float:left;
		min-height: 1px;
		text-align: center;
		
		.innerpnlRgt{
			position: relative;
			padding: .4em 1em;
			overflow: hidden;
			display: block;
			clear: both;
			img{
			     height: 80px;
			}
			
		}
	}
}



/*********************************    download app offer banner (on login screen)  *******************************************/


#download_app_offer {
	height:35px;
	background-color: white;
	border:1px solid grey;
	margin:0;
	margin-bottom:1em;
	position:absolute;
	top:0;
	left:0;
	right:0;
	padding:10px;
	z-index:0 ;
	
	img {
	    width:40px;
	    height:40px;
	    margin-top:-3px;
	    margin-left:20px;
	    margin-right:10px;
	    border:1px solid #d3d3d3;
	}
	
	p {
	    margin:0;
	    margin-top:0px;
	    vertical-align:top;
	    line-height: 10px;
	    font-size:14px;
	}
	
	a[title='Delete'] {
	    width:16px;
	    height:16px;
	}
	
	a[title='Download'] {
	    margin:10px;
	    border:1px solid grey;
	    border-radius: 5px;
	    padding:5px;
	}
	
}

		







/*********************************    ipad/tablet media queries   *******************************************/

@media screen and (min-width: 768px)  { 

    .ui-input-text.ui-corner-all{
	border-bottom: solid 0.10em $neutralClr !important;
    }

    #page_home .ui-listview>li.ui-first-child>a.ui-btn{
	border-width:4px 0 .1em 0 !important;
    }

    .ui-listview > li > a.ui-btn{
	border-width: 0 0 .1em 0;
    }
    
    
    #qpointsContainer .panelRight .innerpnlRgt{
	border-bottom: solid 0.1em $neutralClr;
    }

}



/*********************************    ipad/tablet media queries   *******************************************/









/********************************************** Theme A ***************************************************
-----------------------------------------------------------------------------------------------------------*/



/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background-color: 			$AppBckClr;
	border-color:	 		#ddd /*{a-body-border}*/;
	color: 					$FntClr;
	
}


/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
	background-color: 			$AppBckClr;
	border-color:	 		$neutralClr /*{a-body-border}*/;
	color: 					$FntClr /*{a-body-color}*/;
	
}
.ui-body-a {
	border-width: 1px;
	border-style: solid;
}



/* Bar: Toolbars, dividers, slider track, footers */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	background-color: 			#e9e9e9 /*{a-bar-background-color}*/;
	border-color:	 		#ddd /*{a-bar-border}*/;
	color: 					#333 /*{a-bar-color}*/;
	font-weight: bold;
}
.ui-bar-a {
	border-width: 1px;
	border-style: solid;
}


.ui-header.ui-bar-a {
        background-color: $ThmeA_HdrClr !important;
        border: none !important;
        color:$ThmeA_HdrTxtClr;
        .ui-btn {
            border:none;
            box-shadow: none !important;
            
            &:active {
                
            }
            
        }
}

.ui-footer.ui-bar-a {
	color:$ThmeA_PntClr;
        background-color: $AppBckClr !important;
        border-top: solid 2px $ThmeA_PntClr;
	border-bottom: none !important;
        border-left: none !important;
}



//// Mixin for page header dividers (claims section example)
@mixin pageHeaderStylesA {
    
    color: $ThmeA_DvdTxtClr !important;
    font-size: .90em !important;
    line-height: 1.8em !important;
    font-weight: bold !important;
    border-color:$neutralClr !important;
    background-color:$ThmeA_DvdClr !important;
    padding-left: 1.5em !important;
    margin: -1.1em -1.6em 0em -1.6em !important;
    
}


.ui-page-theme-a .headerDivider {
    @include pageHeaderStylesA;
}


/***************** List ********************************/

//// Mixin for collapsible containers
@mixin collapsibleStylesA {
    background-color:$ThmeA_ClpClr !important;
    font-size: .75em;
    font-weight: normal;
    text-shadow: none !important;
    border: none;
    color:$ThmeA_ClpTxtClr !important;
}



.ui-page-theme-a .colspLrg.ui-collapsible-set {
    margin-top:-1em;    
    .ui-collapsible-heading {
	.ui-btn.ui-btn-a{
	    @include collapsibleStylesA;	    
	}	
    }   
    .ui-collapsible-content {
	span[style]{	    
	    color: $FntClr !important;
	    font-size: .9em !important;
	}
    } 
}

.ui-page-theme-a .ui-collapsible {    
    .ui-collapsible-heading {	
	.ui-btn.ui-btn-a{
	    @include collapsibleStylesA;	    	    
	    .ui-li-count{
		color:$ThmeA_ClpTxtClr !important;
	    }	    
	}	
    }    
    .ui-collapsible-content {    
	li.ui-li-divider.ui-bar-a{
	    color:$FntClr !important;
	    font-size: .75em !important;
	    font-weight: bold !important;
	    line-height: 2.85em;
	    border-bottom:solid .05em $neutralClr !important;
	    padding-left: 1em !important;
	    background-color: transparent !important;
	}
	td.ptsRght{
	    color: $ThmeA_PntClr !important;
	    font-weight: bold;
	}
	div#order_detail_shipping{
	    color: $FntClr;
	    font-size: 0.8em !important;
	}
    }    
}



//// Mixin for listviews dividers
@mixin listViewDivStylesA {
    
    color: $ThmeA_DvdTxtClr !important;
    font-size: .65em !important;
    font-weight: bold !important;
    border-color:$neutralClr !important;
    background-color:$ThmeA_DvdClr !important;
    padding-left: 1.5em !important;
    
}

.ui-listview > li.ui-li-divider.ui-bar-a {
    @include listViewDivStylesA;
}




/************************** Links *********************************/



/// icons that are 
.ui-page-theme-a .ui-menu-icon {
	color: $ThmeA_MnuIconClr;
}


.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
	color: $ThmeA_LnkClrNormal  /*{a-link-color}*/;
	
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
    color: $ThmeA_LnkClrNormal /*{a-link-visited}*/;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
	color: $ThmeA_LnkClrHover /*{a-link-hover}*/;
}
.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
	color: $ThmeA_LnkClrNormal /*{a-link-active}*/;
}


//// links in list view

.ui-page-theme-a .ui-listview > li a:active{
    background-color: $ThmeA_LstClrHover !important;
    color: $ThmeA_MnuIconClr;
}

.ui-page-theme-a .ui-listview > li a:hover{
    color: $FntClr !important;
}

.ui-page-theme-a .ui-listview > li a:visited{
    color: $FntClr !important;
}

.ui-page-theme-a #psg-listview-claimhistory.ui-listview > li a:active{
    background-color: $ThmeA_LstClrHover !important;
    color: $ThmeA_MnuIconClr;
}

.ui-page-theme-a #psg-listview-claimhistory.ui-listview > li a:hover{
    color: $FntClr !important;
}

.ui-page-theme-a #psg-listview-claimhistory.ui-listview > li a:visited{
    color: $FntClr !important;
}

.ui-page-theme-a #psg_listview_search.ui-listview > li a:hover{
    background-color: transparent !important;
}

.ui-page-theme-a #psg-listview-recommend.ui-listview > li a:hover{
    background-color: transparent !important;
}




/*********************** Buttons ****************************/


//// Mixin for Buttons Theme A /////////////

@mixin buttonBevelStyleA{
  
    background: $ThmeA_btnClrNormal;
    background: linear-gradient(top,  $ThmeA_btnClrNormal,  darken($ThmeA_btnClrNormal, 12%) );
    background: -ms-linear-gradient(top,  $ThmeA_btnClrNormal,  darken($ThmeA_btnClrNormal, 12%) );
    background: -webkit-gradient(linear, left top, left bottom, from($ThmeA_btnClrNormal), to(darken($ThmeA_btnClrNormal, 12%) ) );
    background: -moz-linear-gradient(top,  $ThmeA_btnClrNormal,  darken($ThmeA_btnClrNormal, 12%) );
    
    
    
}


@mixin buttonBevelStyleA-Hover{
  
    background: $ThmeA_btnClrHover;
    background: linear-gradient(top,  darken($ThmeA_btnClrHover, 12%), $ThmeA_btnClrHover);
    background: -ms-linear-gradient(top,  darken($ThmeA_btnClrHover, 12%), $ThmeA_btnClrHover );
    background: -webkit-gradient(linear, left top, left bottom, from(darken($ThmeA_btnClrHover, 12%) ), to($ThmeA_btnClrHover) );  
    background: -moz-linear-gradient(top,  darken($ThmeA_btnClrHover, 12%), $ThmeA_btnClrHover );
    
    
}

@mixin buttonsStylesA {
    
    
    @if $buttonType == bevel {
	
	@include buttonBevelStyleA;
	color: $ThmeA_btnTxtClrNormal !important;
	border:none !important;
	margin: .5em auto;
	padding: .6em .6em;
	font-size:.9em;
	font-weight:normal !important;
	width:75%;
	border-radius: $buttonCrns;
	-webkit-border-radius: $buttonCrns;
	 
	
    } @else if $buttonType == noBevel {
	
	background-color:$ThmeA_btnClrNormal;
	color: $ThmeA_btnTxtClrNormal !important;
	border:none !important;
	margin: .5em auto;
	padding: .6em .6em;
	font-size:.9em;
	font-weight:normal !important;
	width:75%;
	border-radius: $buttonCrns;
	-webkit-border-radius: $buttonCrns;
    }
    
   
    
}

@mixin buttonsStylesA-Hover {
    
     @if $buttonType == bevel {
	
	@include buttonBevelStyleA-Hover;
	color: $ThmeA_btnTxtClrHover !important;
    
     } else {
	
	background-color:$ThmeA_btnClrHover !important;
	color: $ThmeA_btnTxtClrHover !important;
     }
    
    
}


button.ui-btn.ui-btn-a {
    @include buttonsStylesA;
    &:hover {
	@include buttonsStylesA-Hover
    }
    &:active {
	@include buttonsStylesA-Hover
    }
}

.ui-page-theme-a #psg_listview_search.ui-listview > li a.linkBtn {
    @include buttonsStylesA;
    &:hover {
	@include buttonsStylesA-Hover
    }
    &:active {
	@include buttonsStylesA-Hover
    }
}


.ui-page-theme-a .linkBtn {
    @include buttonsStylesA;
    &:hover {
	@include buttonsStylesA-Hover
    }
    &:active {
	@include buttonsStylesA-Hover
    }
}

.noCenter{
    margin: .5em 0 !important;
    width: 100% !important;
}


.ui-page-theme-a .ui-select .ui-btn{
     @include buttonsStylesA;
}


.ui-page-theme-a .ui-radio label.ui-btn.ui-radio-on{
    background-color:$ThmeA_btnClrNormal !important;
    color: $ThmeA_btnTxtClrNormal 0 !important;
    border: none;
    
}

.ui-page-theme-a .ui-radio label.ui-btn.ui-radio-off{
    background-color:$ThmeA_btnClrHover !important;
    color: $ThmeA_btnTxtClrHover !important;
    text-shadow: 0 !important;
    border: none;
}


/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
	/*background-color: 			#f6f6f6 {a-bup-background-color}*/
	/*border-color:	 		#ddd {a-bup-border}*/
	/*color: 					#333 */
	/*text-shadow: 0 {a-bup-shadow-x} 1px {a-bup-shadow-y} 0 {a-bup-shadow-radius} #f3f3f3 {a-bup-shadow-color}*/
}


/* Button hover */
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
	/*background-color: 			#ededed */
	/*border-color:	 		#ddd /*/
	/*color: 					#333 */
	
}
/* Button down */
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
	/*background-color: $secondaryThemeA;*/
	/*border-color:	 		#ddd */
	/*color: 	$ThemeAFntClr;*/
	
}
/* Active button */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
/* Active flipswitch background */
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
	/*background-color: 		#3388cc; */
	/*border-color:	 		#3388cc; */
	/*color: 					#fff}; */
	/*text-shadow: 0  1px  0  #005599 ;*/
}
/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
	/*border-color:	#3388cc;*/
}
/* Focus */
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
	/*-webkit-box-shadow: 0 0 12px #3388cc ;
	-moz-box-shadow: 0 0 12px #3388cc ;
	box-shadow: 0 0 12px #3388cc ;*/
}



