/************************** Global SCSS Variables ***************************************/
/************************** Global SCSS Variables ***************************************/
/************************************************* Theme A SCSS Variables ***************************************/
/************* Header, Statusbar, PointsNumbers, Icons  ************/
/************* Dividers and Collapsible(s)  ************/
/*************   Links and Buttons  ************/
/************************** Theme A SCSS Variables ***************************************/
/****************************************** Global(s) & Mixin(s) *****************************************************/
/* line 157, ../../sassCssFiles/program.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* line 161, ../../sassCssFiles/program.scss */
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: white;
  background-attachment: fixed;
  font-family: 'Helvetica', 'HelveticaNeue', 'Arial', 'sans-serif';
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* Portrait layout (default) */
/* line 176, ../../sassCssFiles/program.scss */
.app {
  background: url(../img/logo.png) no-repeat center top;
  /* 170px x 200px */
  position: absolute;
  /* position in the center of the screen */
  left: 50%;
  top: 50%;
  height: 50px;
  /* text area height */
  width: 225px;
  /* text area width */
  text-align: center;
  padding: 180px 0px 0px 0px;
  /* image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px;
  /* offset vertical: half of image height and text area height */
  /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  /* line 191, ../../sassCssFiles/program.scss */
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */
  }
}
/* line 199, ../../sassCssFiles/program.scss */
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}

/* line 210, ../../sassCssFiles/program.scss */
.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
}

/* line 219, ../../sassCssFiles/program.scss */
.event.listening {
  background-color: #FFF;
  display: block;
  text-align: center;
}

/* line 225, ../../sassCssFiles/program.scss */
.event.received {
  background-color: #FFF;
  display: none;
  text-align: center;
}

@keyframes fade {
  /* line 232, ../../sassCssFiles/program.scss */
  from {
    opacity: 1.0;
  }

  /* line 233, ../../sassCssFiles/program.scss */
  50% {
    opacity: 0.4;
  }

  /* line 234, ../../sassCssFiles/program.scss */
  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  /* line 238, ../../sassCssFiles/program.scss */
  from {
    opacity: 1.0;
  }

  /* line 239, ../../sassCssFiles/program.scss */
  50% {
    opacity: 0.4;
  }

  /* line 240, ../../sassCssFiles/program.scss */
  to {
    opacity: 1.0;
  }
}

/* line 243, ../../sassCssFiles/program.scss */
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}

/* line 250, ../../sassCssFiles/program.scss */
html {
  font-size: 100%;
}

/* line 258, ../../sassCssFiles/program.scss */
input,
select,
textarea,
button,
.ui-btn {
  font-size: 1em;
  line-height: 1.3;
}

/* line 263, ../../sassCssFiles/program.scss */
.ui-input-search.ui-corner-all {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: solid 0.1em #6a7374 !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

/* line 267, ../../sassCssFiles/program.scss */
.ui-input-text.ui-corner-all {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: solid 0.1em #6a7374 !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  margin: 0;
}
/* line 271, ../../sassCssFiles/program.scss */
.ui-input-text.ui-corner-all input {
  margin: 0;
  padding: 0;
  font-size: .95em;
  min-height: 1.0em;
}

/* line 282, ../../sassCssFiles/program.scss */
.ui-content .ui-listview > li > a.ui-icon-carat-r:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%236391ba%3B%22%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E");
  background-size: 50%;
}

/* line 288, ../../sassCssFiles/program.scss */
.ui-panel-inner .ui-listview > li > a.ui-icon-carat-r:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%236391ba%3B%22%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E");
  background-size: 50%;
}

/* line 293, ../../sassCssFiles/program.scss */
.ui-content .ui-icon-info:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%236391ba%22%20d%3D%22M7%2C0C3.134%2C0%2C0%2C3.134%2C0%2C7s3.134%2C7%2C7%2C7s7-3.134%2C7-7S10.866%2C0%2C7%2C0z%20M7%2C2c0.552%2C0%2C1%2C0.447%2C1%2C1S7.552%2C4%2C7%2C4S6%2C3.553%2C6%2C3%20S6.448%2C2%2C7%2C2z%20M9%2C11H5v-1h1V6H5V5h3v5h1V11z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

/* line 298, ../../sassCssFiles/program.scss */
.ui-header .ui-icon-carat-l:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2210.596%2C11.949%205.646%2C7%2010.596%2C2.05%208.475%2C-0.071%201.404%2C7%208.475%2C14.07%20%22%2F%3E%3C%2Fsvg%3E");
}

/* line 303, ../../sassCssFiles/program.scss */
.ui-header .ui-icon-carat-l:after {
  background-size: 80% !important;
}

/* line 307, ../../sassCssFiles/program.scss */
.ui-header .ui-icon-bullets:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M5%2C4h8c0.553%2C0%2C1-0.447%2C1-1s-0.447-1-1-1H5C4.447%2C2%2C4%2C2.447%2C4%2C3S4.447%2C4%2C5%2C4z%20M13%2C6H5%20C4.447%2C6%2C4%2C6.447%2C4%2C7c0%2C0.553%2C0.447%2C1%2C1%2C1h8c0.553%2C0%2C1-0.447%2C1-1C14%2C6.447%2C13.553%2C6%2C13%2C6z%20M13%2C10H5c-0.553%2C0-1%2C0.447-1%2C1%20s0.447%2C1%2C1%2C1h8c0.553%2C0%2C1-0.447%2C1-1S13.553%2C10%2C13%2C10z%20M1%2C2C0.447%2C2%2C0%2C2.447%2C0%2C3s0.447%2C1%2C1%2C1s1-0.447%2C1-1S1.553%2C2%2C1%2C2z%20M1%2C6%20C0.447%2C6%2C0%2C6.447%2C0%2C7c0%2C0.553%2C0.447%2C1%2C1%2C1s1-0.447%2C1-1C2%2C6.447%2C1.553%2C6%2C1%2C6z%20M1%2C10c-0.553%2C0-1%2C0.447-1%2C1s0.447%2C1%2C1%2C1s1-0.447%2C1-1%20S1.553%2C10%2C1%2C10z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 311, ../../sassCssFiles/program.scss */
.ui-header .ui-icon-bullets:after {
  background-size: 100% !important;
}

/* line 318, ../../sassCssFiles/program.scss */
::-webkit-input-placeholder {
  color: #6a7374;
}

/* line 322, ../../sassCssFiles/program.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #6a7374;
}

/* line 326, ../../sassCssFiles/program.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #6a7374;
}

/* line 330, ../../sassCssFiles/program.scss */
:-ms-input-placeholder {
  color: #6a7374;
}

/* line 336, ../../sassCssFiles/program.scss */
legend,
.ui-input-text input,
.ui-input-search input {
  color: inherit;
  text-shadow: inherit;
}

/* line 341, ../../sassCssFiles/program.scss */
.error {
  color: red;
}

/* line 345, ../../sassCssFiles/program.scss */
.validate-error {
  color: red !important;
  display: block;
}

/* Form labels (overrides font-weight bold in bars, and mini font-size) */
/* line 353, ../../sassCssFiles/program.scss */
.ui-mobile label,
div.ui-controlgroup-label {
  font-weight: normal;
  font-size: .65em;
  margin: 0 0 .4em;
  color: #6a7374;
}

/* line 361, ../../sassCssFiles/program.scss */
#qpointsContainer {
  overflow: hidden;
  width: 100%;
  margin-bottom: 5px;
}
/* line 365, ../../sassCssFiles/program.scss */
#qpointsContainer .panelLeft {
  width: 75%;
  clear: left;
  margin: 0;
  padding: 0;
  float: left;
  min-height: 1px;
  text-align: center;
}
/* line 374, ../../sassCssFiles/program.scss */
#qpointsContainer .panelLeft .innerpnlLft {
  position: relative;
  padding: .4em 0;
  overflow: hidden;
  display: block;
  clear: both;
}
/* line 383, ../../sassCssFiles/program.scss */
#qpointsContainer .panelRight {
  width: 20%;
  margin: 0;
  padding: 0;
  float: left;
  min-height: 1px;
  text-align: right;
}
/* line 391, ../../sassCssFiles/program.scss */
#qpointsContainer .panelRight .innerpnlRgt {
  position: relative;
  padding: .4em 0 .06em;
  overflow: hidden;
  display: block;
  clear: both;
  border-bottom: solid 0.1em #6a7374;
}
/* line 398, ../../sassCssFiles/program.scss */
#qpointsContainer .panelRight .innerpnlRgt span {
  padding-bottom: 1px;
}

/* line 406, ../../sassCssFiles/program.scss */
#shoppingsearch_search_department {
  margin: 15px 0 10px 0;
}

/* line 410, ../../sassCssFiles/program.scss */
.customInput {
  margin-bottom: 2em !important;
}
/* line 412, ../../sassCssFiles/program.scss */
.customInput i.ui-input-icon {
  top: 0 !important;
}

/* line 417, ../../sassCssFiles/program.scss */
textarea.ui-input-text {
  background-color: #e3e1e1 !important;
}

/* line 422, ../../sassCssFiles/program.scss */
#avalShpPnts {
  padding-top: 2.5em;
}
/* line 426, ../../sassCssFiles/program.scss */
#avalShpPnts p {
  color: #6a7374;
  font-size: .7em;
  display: block;
  margin: 0;
}
/* line 432, ../../sassCssFiles/program.scss */
#avalShpPnts span {
  color: #6391ba;
  font-size: 1.5em;
  font-weight: bold;
}

/* line 440, ../../sassCssFiles/program.scss */
.ui-text-right {
  text-align: right;
  color: #6391ba;
  font-weight: bold !important;
}

/* line 446, ../../sassCssFiles/program.scss */
.ui-float-right {
  position: relative;
  float: right;
  color: #6391ba;
  font-weight: bold !important;
}

/* line 454, ../../sassCssFiles/program.scss */
.shopDscptStyle {
  font-size: .80em !important;
  display: block;
  margin: .6em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: inherit !important;
}

/* line 457, ../../sassCssFiles/program.scss */
.shopPtsStyle {
  color: #6391ba !important;
  font-weight: bold !important;
  font-size: 1.25em !important;
}

/* line 461, ../../sassCssFiles/program.scss */
#psg_detail_item_title {
  margin: 0 -1em 0 -1em;
  font-family: inherit;
  font-size: .95em;
  border-bottom: solid #6a7374 0.05em;
  padding: 0 1em 1em 1em;
}

/* line 469, ../../sassCssFiles/program.scss */
div#psg_jqx_progress_bar_0.jqx-progressbar.jqx-widget.jqx-widget-content.jqx-rc-all[style] {
  /*width: 99% !important;*/
  background-color: #6a7374 !important;
  /*border-radius: $buttonNoCrns;
  -webkit-border-radius: $buttonNoCrns;*/
}

/* line 476, ../../sassCssFiles/program.scss */
div.jqx-progressbar-value.jqx-fill-state-pressed[style] {
  background-color: #86aaca !important;
  /* width: 100% !important;*/
}

/* List Views
-----------------------------------------------------------------------------------------------------------*/
/* line 499, ../../sassCssFiles/program.scss */
.ui-listview > li > a.ui-btn {
  border-width: 0 0 .1em 0;
  border-color: #6a7374 !important;
}

/* line 504, ../../sassCssFiles/program.scss */
.ui-listview > .ui-li-static {
  border-width: 0 0 .1em 0;
  border-color: #6a7374 !important;
}

/* line 509, ../../sassCssFiles/program.scss */
#page_home .ui-listview > li.ui-first-child > a.ui-btn {
  border-width: 2px 0 .1em 0 !important;
}

/* line 514, ../../sassCssFiles/program.scss */
.ui-listview > li > a.ui-btn {
  color: #000;
  font-size: .95em;
  font-weight: lighter;
  border-color: #6a7374;
}
/* line 492, ../../sassCssFiles/program.scss */
.ui-listview > li > a.ui-btn .ui-btn-icon-right::after {
  background-size: 50%;
}

/* line 521, ../../sassCssFiles/program.scss */
.ui-listview > li span.ui-li-aside {
  color: #6391ba !important;
  font-weight: bold;
  font-size: .95em !important;
  top: .7em !important;
}

/* line 530, ../../sassCssFiles/program.scss */
.ui-listview.lwrLstView {
  padding-top: 3em;
}

/* line 535, ../../sassCssFiles/program.scss */
.ui-li-count {
  color: #6391ba !important;
  text-shadow: none !important;
  background-color: transparent !important;
}

/* line 543, ../../sassCssFiles/program.scss */
ul#psg-listview-claimdetail-status {
  margin-bottom: 1em !important;
}
/* line 545, ../../sassCssFiles/program.scss */
ul#psg-listview-claimdetail-status li.ui-field-contain span {
  color: #000 !important;
  font-size: .8em !important;
}

/* line 552, ../../sassCssFiles/program.scss */
ul#psg-listview-claimdetail-details li.ui-field-contain span {
  color: #000 !important;
  font-size: .8em !important;
}

/* Corner rounding
-----------------------------------------------------------------------------------------------------------*/
/* line 566, ../../sassCssFiles/program.scss */
.btnCrns {
  -webkit-border-radius: 0.6125em !important;
  border-radius: 0.6125em !important;
}

/* line 572, ../../sassCssFiles/program.scss */
#page_start div.ui-footer.ui-bar-a.ui-footer-fixed.slideup ul.ui-grid-a .linkBtn, #page_login div.ui-footer.ui-bar-a.ui-footer-fixed.slideup ul.ui-grid-a .linkBtn {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

/* line 578, ../../sassCssFiles/program.scss */
.ui-corner-all {
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
}

/* Buttons */
/* line 590, ../../sassCssFiles/program.scss */
.ui-btn-corner-all,
.ui-btn.ui-corner-all,
.ui-slider-track.ui-corner-all,
.ui-flipswitch.ui-corner-all,
.ui-li-count {
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
}

/* line 596, ../../sassCssFiles/program.scss */
button.ui-btn.ui-icon-plus.shopping-cart-add {
  border-radius: 2.5em !important;
  -webkit-border-radius: 2.5em !important;
  width: 1.75em !important;
}

/* line 602, ../../sassCssFiles/program.scss */
button.ui-btn.ui-icon-minus.shopping-cart-subtract {
  border-radius: 2.5em !important;
  -webkit-border-radius: 2.5em !important;
  width: 1.75em !important;
}

/* Icon-only buttons */
/* line 610, ../../sassCssFiles/program.scss */
.ui-btn-icon-notext.ui-btn-corner-all,
.ui-btn-icon-notext.ui-corner-all {
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

/* Radius clip workaround for cleaning up corner trapping */
/* line 616, ../../sassCssFiles/program.scss */
.ui-btn-corner-all,
.ui-corner-all {
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

/* Popup arrow */
/* line 621, ../../sassCssFiles/program.scss */
.ui-popup.ui-corner-all > .ui-popup-arrow-guide {
  left: 0.6em;
  right: 0.6em;
  top: 0.6em;
  bottom: 0.6em;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/
/* line 634, ../../sassCssFiles/program.scss */
.psg-section-name {
  border-bottom: solid 2px #6a7374;
  margin: 0em -1em 0.9em -1em;
  padding: 0 0 .75em 15px;
  line-height: 2.0em;
  font-family: inherit;
  font-size: 1.1em;
  font-weight: normal;
}
/* line 637, ../../sassCssFiles/program.scss */
.psg-section-name .ui-menu-icon {
  color: #6391ba;
}

/* App welcome and home page configuration styles
-------------------------------------------------------------------------------------------*/
/* line 646, ../../sassCssFiles/program.scss */
.ui-alt-title-color {
  color: #527d97;
}

/******************** Custom welcome page for this app  **************************/
/* line 656, ../../sassCssFiles/program.scss */
#loginLogo {
  height: 100px;
  background-image: url(../img/mrStemLogo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* line 664, ../../sassCssFiles/program.scss */
#page_start #welcomeMsg {
  font-size: .9em;
  font-weight: bold;
  margin: 0 auto 1em;
}

/* line 670, ../../sassCssFiles/program.scss */
#page_start p {
  font-size: 12px;
  text-align: center;
  margin: .5em 0;
}

/******************** Custom welcome page for this app  **************************/
/* line 682, ../../sassCssFiles/program.scss */
#homeLogo {
  margin-bottom: 15px;
  height: 110px;
  background-image: url(../img/mrStemLogo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* line 691, ../../sassCssFiles/program.scss */
#homeLogo p {
  display: none;
}
/* line 694, ../../sassCssFiles/program.scss */
#homeLogo img {
  display: none;
}

/* Panel buttons area for home screen */
/* line 701, ../../sassCssFiles/program.scss */
#panelContainer {
  overflow: hidden;
  width: 100%;
  margin-bottom: 24px;
}
/* line 705, ../../sassCssFiles/program.scss */
#panelContainer .panelLeft {
  width: 49.95%;
  clear: left;
  margin: 0;
  padding: 0;
  float: left;
  min-height: 1px;
  text-align: center;
}
/* line 714, ../../sassCssFiles/program.scss */
#panelContainer .panelLeft .innerpnlLft {
  position: relative;
  padding: .4em 1em;
  overflow: hidden;
  display: block;
  clear: both;
}
/* line 720, ../../sassCssFiles/program.scss */
#panelContainer .panelLeft .innerpnlLft img {
  height: 80px;
}
/* line 727, ../../sassCssFiles/program.scss */
#panelContainer .panelRight {
  width: 49.95%;
  margin: 0;
  padding: 0;
  float: left;
  min-height: 1px;
  text-align: center;
}
/* line 735, ../../sassCssFiles/program.scss */
#panelContainer .panelRight .innerpnlRgt {
  position: relative;
  padding: .4em 1em;
  overflow: hidden;
  display: block;
  clear: both;
}
/* line 741, ../../sassCssFiles/program.scss */
#panelContainer .panelRight .innerpnlRgt img {
  height: 80px;
}

/******************** hide the footer for this app  **************************/
/*div.ui-footer.ui-bar-a.ui-footer-fixed.slideup div.ui-block-a{
    width: 100% !important;  
}

div.ui-footer.ui-bar-a.ui-footer-fixed.slideup div.ui-block-b{
    display:none !important;
    width: 0 !important;
}


#page_start div.ui-footer.ui-bar-a.ui-footer-fixed.slideup div.ui-block-b, #page_login div.ui-footer.ui-bar-a.ui-footer-fixed.slideup div.ui-block-b{
    display:block !important;
    width: 50% !important;
}

#page_start div.ui-footer.ui-bar-a.ui-footer-fixed.slideup div.ui-block-a, #page_login div.ui-footer.ui-bar-a.ui-footer-fixed.slideup div.ui-block-a{
    width: 50% !important;
}



div.ui-footer.ui-bar-a.ui-footer-fixed.slideup div.psg_point_balance.ui-center{
     display:none !important;
}*/
/******************** hide the footer for this app  **************************/
/*********************************    download app offer banner (on login screen)  *******************************************/
/* line 788, ../../sassCssFiles/program.scss */
#download_app_offer {
  height: 35px;
  background-color: white;
  border: 1px solid grey;
  margin: 0;
  margin-bottom: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 0;
}
/* line 801, ../../sassCssFiles/program.scss */
#download_app_offer img {
  width: 40px;
  height: 40px;
  margin-top: -3px;
  margin-left: 20px;
  margin-right: 10px;
  border: 1px solid #d3d3d3;
}
/* line 810, ../../sassCssFiles/program.scss */
#download_app_offer p {
  margin: 0;
  margin-top: 0px;
  vertical-align: top;
  line-height: 10px;
  font-size: 14px;
}
/* line 818, ../../sassCssFiles/program.scss */
#download_app_offer a[title='Delete'] {
  width: 16px;
  height: 16px;
}
/* line 823, ../../sassCssFiles/program.scss */
#download_app_offer a[title='Download'] {
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

/*********************************    ipad/tablet media queries   *******************************************/
@media screen and (min-width: 768px) {
  /* line 844, ../../sassCssFiles/program.scss */
  .ui-input-text.ui-corner-all {
    border-bottom: solid 0.1em #6a7374 !important;
  }

  /* line 848, ../../sassCssFiles/program.scss */
  #page_home .ui-listview > li.ui-first-child > a.ui-btn {
    border-width: 4px 0 .1em 0 !important;
  }

  /* line 852, ../../sassCssFiles/program.scss */
  .ui-listview > li > a.ui-btn {
    border-width: 0 0 .1em 0;
  }

  /* line 857, ../../sassCssFiles/program.scss */
  #qpointsContainer .panelRight .innerpnlRgt {
    border-bottom: solid 0.1em #6a7374;
  }
}
/*********************************    ipad/tablet media queries   *******************************************/
/********************************************** Theme A ***************************************************
-----------------------------------------------------------------------------------------------------------*/
/* Page and overlay */
/* line 883, ../../sassCssFiles/program.scss */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  background-color: white;
  border-color: #dddddd;
  color: black;
}

/* Body: Read-only lists, text inputs, collapsible content */
/* line 897, ../../sassCssFiles/program.scss */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
  background-color: white;
  border-color: #6a7374;
  color: black;
}

/* line 903, ../../sassCssFiles/program.scss */
.ui-body-a {
  border-width: 1px;
  border-style: solid;
}

/* Bar: Toolbars, dividers, slider track, footers */
/* line 915, ../../sassCssFiles/program.scss */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
  background-color: #e9e9e9;
  border-color: #dddddd;
  color: #333333;
  font-weight: bold;
}

/* line 921, ../../sassCssFiles/program.scss */
.ui-bar-a {
  border-width: 1px;
  border-style: solid;
}

/* line 927, ../../sassCssFiles/program.scss */
.ui-header.ui-bar-a {
  background-color: #6391ba !important;
  border: none !important;
  color: white;
}
/* line 931, ../../sassCssFiles/program.scss */
.ui-header.ui-bar-a .ui-btn {
  border: none;
  box-shadow: none !important;
}

/* line 942, ../../sassCssFiles/program.scss */
.ui-footer.ui-bar-a {
  color: #6391ba;
  background-color: white !important;
  border-top: solid 2px #6391ba;
  border-bottom: none !important;
  border-left: none !important;
}

/* line 967, ../../sassCssFiles/program.scss */
.ui-page-theme-a .headerDivider {
  color: white !important;
  font-size: .90em !important;
  line-height: 1.8em !important;
  font-weight: bold !important;
  border-color: #6a7374 !important;
  background-color: #6a7374 !important;
  padding-left: 1.5em !important;
  margin: -1.1em -1.6em 0em -1.6em !important;
}

/***************** List ********************************/
/* line 986, ../../sassCssFiles/program.scss */
.ui-page-theme-a .colspLrg.ui-collapsible-set {
  margin-top: -1em;
}
/* line 989, ../../sassCssFiles/program.scss */
.ui-page-theme-a .colspLrg.ui-collapsible-set .ui-collapsible-heading .ui-btn.ui-btn-a {
  background-color: #bfbfbf !important;
  font-size: .75em;
  font-weight: normal;
  text-shadow: none !important;
  border: none;
  color: white !important;
}
/* line 994, ../../sassCssFiles/program.scss */
.ui-page-theme-a .colspLrg.ui-collapsible-set .ui-collapsible-content span[style] {
  color: black !important;
  font-size: .9em !important;
}

/* line 1003, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-collapsible .ui-collapsible-heading .ui-btn.ui-btn-a {
  background-color: #bfbfbf !important;
  font-size: .75em;
  font-weight: normal;
  text-shadow: none !important;
  border: none;
  color: white !important;
}
/* line 1005, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-collapsible .ui-collapsible-heading .ui-btn.ui-btn-a .ui-li-count {
  color: white !important;
}
/* line 1011, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-collapsible .ui-collapsible-content li.ui-li-divider.ui-bar-a {
  color: black !important;
  font-size: .75em !important;
  font-weight: bold !important;
  line-height: 2.85em;
  border-bottom: solid 0.05em #6a7374 !important;
  padding-left: 1em !important;
  background-color: transparent !important;
}
/* line 1020, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-collapsible .ui-collapsible-content td.ptsRght {
  color: #6391ba !important;
  font-weight: bold;
}
/* line 1024, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-collapsible .ui-collapsible-content div#order_detail_shipping {
  color: black;
  font-size: 0.8em !important;
}

/* line 1045, ../../sassCssFiles/program.scss */
.ui-listview > li.ui-li-divider.ui-bar-a {
  color: white !important;
  font-size: .65em !important;
  font-weight: bold !important;
  border-color: #6a7374 !important;
  background-color: #6a7374 !important;
  padding-left: 1.5em !important;
}

/************************** Links *********************************/
/* line 1057, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-menu-icon {
  color: #6391ba;
}

/* line 1065, ../../sassCssFiles/program.scss */
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
  color: #527d97;
}

/* line 1072, ../../sassCssFiles/program.scss */
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
  color: #527d97;
}

/* line 1078, ../../sassCssFiles/program.scss */
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
  color: #6391ba;
}

/* line 1084, ../../sassCssFiles/program.scss */
.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
  color: #527d97;
}

/* line 1091, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-listview > li a:active {
  background-color: #8c8b8b !important;
  color: #6391ba;
}

/* line 1096, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-listview > li a:hover {
  color: black !important;
}

/* line 1100, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-listview > li a:visited {
  color: black !important;
}

/* line 1104, ../../sassCssFiles/program.scss */
.ui-page-theme-a #psg-listview-claimhistory.ui-listview > li a:active {
  background-color: #8c8b8b !important;
  color: #6391ba;
}

/* line 1109, ../../sassCssFiles/program.scss */
.ui-page-theme-a #psg-listview-claimhistory.ui-listview > li a:hover {
  color: black !important;
}

/* line 1113, ../../sassCssFiles/program.scss */
.ui-page-theme-a #psg-listview-claimhistory.ui-listview > li a:visited {
  color: black !important;
}

/* line 1117, ../../sassCssFiles/program.scss */
.ui-page-theme-a #psg_listview_search.ui-listview > li a:hover {
  background-color: transparent !important;
}

/* line 1121, ../../sassCssFiles/program.scss */
.ui-page-theme-a #psg-listview-recommend.ui-listview > li a:hover {
  background-color: transparent !important;
}

/*********************** Buttons ****************************/
/* line 1209, ../../sassCssFiles/program.scss */
button.ui-btn.ui-btn-a {
  background-color: #527d97;
  color: white !important;
  border: none !important;
  margin: .5em auto;
  padding: .6em .6em;
  font-size: .9em;
  font-weight: normal !important;
  width: 75%;
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}
/* line 1211, ../../sassCssFiles/program.scss */
button.ui-btn.ui-btn-a:hover {
  background-color: #6391ba !important;
  color: white !important;
}
/* line 1214, ../../sassCssFiles/program.scss */
button.ui-btn.ui-btn-a:active {
  background-color: #6391ba !important;
  color: white !important;
}

/* line 1219, ../../sassCssFiles/program.scss */
.ui-page-theme-a #psg_listview_search.ui-listview > li a.linkBtn {
  background-color: #527d97;
  color: white !important;
  border: none !important;
  margin: .5em auto;
  padding: .6em .6em;
  font-size: .9em;
  font-weight: normal !important;
  width: 75%;
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}
/* line 1221, ../../sassCssFiles/program.scss */
.ui-page-theme-a #psg_listview_search.ui-listview > li a.linkBtn:hover {
  background-color: #6391ba !important;
  color: white !important;
}
/* line 1224, ../../sassCssFiles/program.scss */
.ui-page-theme-a #psg_listview_search.ui-listview > li a.linkBtn:active {
  background-color: #6391ba !important;
  color: white !important;
}

/* line 1230, ../../sassCssFiles/program.scss */
.ui-page-theme-a .linkBtn {
  background-color: #527d97;
  color: white !important;
  border: none !important;
  margin: .5em auto;
  padding: .6em .6em;
  font-size: .9em;
  font-weight: normal !important;
  width: 75%;
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}
/* line 1232, ../../sassCssFiles/program.scss */
.ui-page-theme-a .linkBtn:hover {
  background-color: #6391ba !important;
  color: white !important;
}
/* line 1235, ../../sassCssFiles/program.scss */
.ui-page-theme-a .linkBtn:active {
  background-color: #6391ba !important;
  color: white !important;
}

/* line 1240, ../../sassCssFiles/program.scss */
.noCenter {
  margin: .5em 0 !important;
  width: 100% !important;
}

/* line 1246, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-select .ui-btn {
  background-color: #527d97;
  color: white !important;
  border: none !important;
  margin: .5em auto;
  padding: .6em .6em;
  font-size: .9em;
  font-weight: normal !important;
  width: 75%;
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

/* line 1251, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-radio label.ui-btn.ui-radio-on {
  background-color: #527d97 !important;
  color: white 0 !important;
  border: none;
}

/* line 1258, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-radio label.ui-btn.ui-radio-off {
  background-color: #6391ba !important;
  color: white !important;
  text-shadow: 0 !important;
  border: none;
}

/* Button up */
/* line 1277, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
  /*background-color: 			#f6f6f6 {a-bup-background-color}*/
  /*border-color:	 		#ddd {a-bup-border}*/
  /*color: 					#333 */
  /*text-shadow: 0 {a-bup-shadow-x} 1px {a-bup-shadow-y} 0 {a-bup-shadow-radius} #f3f3f3 {a-bup-shadow-color}*/
}

/* Button hover */
/* line 1290, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
  /*background-color: 			#ededed */
  /*border-color:	 		#ddd /*/
  /*color: 					#333 */
}

/* Button down */
/* line 1301, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
  /*background-color: $secondaryThemeA;*/
  /*border-color:	 		#ddd */
  /*color: 	$ThemeAFntClr;*/
}

/* Active button */
/* line 1330, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
  /*background-color: 		#3388cc; */
  /*border-color:	 		#3388cc; */
  /*color: 					#fff}; */
  /*text-shadow: 0  1px  0  #005599 ;*/
}

/* Active radio button icon */
/* line 1341, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
  /*border-color:	#3388cc;*/
}

/* Focus */
/* line 1356, ../../sassCssFiles/program.scss */
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
  /*-webkit-box-shadow: 0 0 12px #3388cc ;
  -moz-box-shadow: 0 0 12px #3388cc ;
  box-shadow: 0 0 12px #3388cc ;*/
}
