h3.psg-class-program-name.ui-title {
    padding: .6em 0 .6em !important
}
img {
    max-width: 100%
}
.ui-absolute {
    position: absolute
}
.ui-float-left {
    position: relative;
    float: left
}
.ui-hide {
    display: none
}
.ui-no-ellipse {
    white-space: normal !important
}
.ui-no-ellipse > p {
    white-space: normal !important;
    font-size: 1em !important;
}
.ui-text-small {
    font-size: small;
    font-weight: normal;
    margin-bottom: .55em
}
.ui-custom-count-pos {
    font-size: 11px;
    font-weight: bold;
    padding: 0.2em 0.5em;
    float: right
}
.ui-center {
    text-align: center
}
.ui-middle {
    vertical-align: middle
}
.ui-bottom {
    position: relative;
    vertical-align: bottom;
    bottom: 0
}
.ui-margin-top-1x {
    margin-top: 1em !important
}
.ui-margin-top-2x {
    margin-top: 2em !important
}
.ui-full-width {
    width: 100%
}
.ui-table-columntoggle-btn {
    display: none !important
}
.ui-tracking-number {
    padding-left: 1em
}
.ui-product-thumbnail {
    margin: 1px;
    padding: 0px;
    max-width: 70px;
    min-width: 70px
}
.ui-product-image-popup {
    padding: 3px
}
.ui-disclosure {
    font-size: x-small
}
.ui-paragraph-padding {
    padding-top: .5em
}
.ui-text-important {
    font-style: italic
}
.ui-overlay-container {
    position: relative
}
.ui-underlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table-cell;
    z-index: 0
}
.ui-form-label {
    text-align: right;
    color: #787878;
    font-size: .8em;
    font-weight: bold;
    font-variant: small-caps
}
.ui-input-with-icon-container {
    position: relative
}
.ui-input-icon {
    display: block;
    position: absolute;
    left: 3px;
    z-index: 10;
    color: #dddddd !important
}
.ui-input-with-icon {
    margin-left: 30px !important
}
.ui-pad-before-list {
    margin-bottom: 40px
}
.ui-indent-1x {
    padding-left: 1em
}
.ui-indent-2x {
    padding-left: 2em
}
.ui-indent-3x {
    padding-left: 3em
}
.ui-input-with-button-container {
    position: relative
}
.ui-input-button {
    position: absolute;
    top: 10px;
    right: 3px;
    z-index: 10
}
.ui-line-above {
    border-top-color: #828282;
    border-top-color: rgba(0, 0, 0, 0.15);
    border-top-width: 1px;
    border-top-style: solid
}
#login_enrollment_link.linkBtn {
    width: 70% !important
}
.linkBtn.remote-content {
    width: 100% !important
}
#psg-promotion-claim-view-cGroup div.ui-controlgroup-controls div.ui-select.ui-btn-inline.ui-mini {
    width: 100% !important
}
#psg-copyright-notice {
    padding-top: 2em;
    text-align: center;
    font-size: small;
    font-weight: normal
}
#psg-login-forgot-password-link {
    font-size: small;
    margin-left: 1em;
    float: right
}
#psg-claim-detail-content h4 {
    margin: 10px 0 25px 0;
    font-size: .95em;
    font-weight: normal
}
#psg-order-detail-order-number {
    font-size: .95em;
    margin: 0
}
#psg-claims-confirmation-success-icon {
    color: #336600 !important;
    float: left
}
.focusScan #quick_points_scan2.fa-qrcode:before {
    position: absolute;
    left: 1em
}
.focusScan #icon_search_scan2.fa-barcode:before {
    position: absolute;
    left: 1em
}
.focusScan #icon_invitation_scan2.fa-barcode:before {
    position: absolute;
    left: 1em
}
#psg_detail_item_points {
    text-align: right;
    padding-right: 10%;
    margin-bottom: .3em
}
#detailOnsaleTble {
    text-align: right;
    width: 100%;
    padding-right: 10%
}
#detailOnsaleTble tr td:nth-child(2) {
    width: 45%
}
#psg_detail_item_regular_price {
    text-align: right;
    padding-right: 10%
}
#page_shopping_search_filter.ui-page-header-fixed {
    padding: 0 !important
}
#page_shopping_search_filter.ui-page-header-fixed div.ui-dialog-contain {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px auto 0px auto;
    padding: 0;
    position: relative;
    top: 0;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important
}
#page_edit_checkout_address.ui-page-header-fixed {
    padding: 0 !important
}
#page_edit_checkout_address.ui-page-header-fixed div.ui-dialog-contain {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px auto 0px auto;
    padding: 0;
    position: relative;
    top: 0;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important
}
#page_remote_content.ui-page-header-fixed {
    padding: 0 !important
}
#page_remote_content.ui-page-header-fixed div.ui-dialog-contain {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px auto 0px auto;
    padding: 0;
    position: relative;
    top: 0;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important
}
#page_timeout.ui-page-header-fixed {
    padding: 0 !important
}
#page_timeout.ui-page-header-fixed div.ui-dialog-contain {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px auto 0px auto;
    padding: 0;
    position: relative;
    top: 0;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important
}
.psg-claims-confirmation-new-claim {
    text-align: center
}
.psg-point-account-balance {
    text-align: center;
    font-size: small;
    font-weight: normal
}
.ispu_available {
    background-image: url("images/instorepickup.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 4px
}
.is_on_sale {
    background-image: url("images/onsaleicon.png");
    background-repeat: no-repeat;
    padding-left: 36px;
    display: inline-block;
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: .8em
}
.itemavailability {
    color: #333;
    border: 1px solid #333;
    background-color: white;
    padding: 4px 8px 4px 8px;
    text-align: center;
    margin-bottom: 10px
}
.psg-item-list-image-container {
    background-color: white;
    margin: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    text-align: center
}
.psg_item_detail_text {
    margin-top: 1em;
    max-width: 70px
}
#psg-listview-checkout_confirm li.headerDivider.ui-li-divider.ui-bar-a.ui-first-child {
    padding-left: 3em !important;
    margin-bottom: 2em !important
}
.psg-item-detail-image {
    padding: 10px 0px 10px 0px;
    margin: 4px 0px 4px 0px
}
.psg-item-detail-image-container {
    background-color: white
}

.psg-learnearn-txt-content{
	margin-bottom: 30px;
}

.psg-learnearn-li-section{
	margin-bottom: 30px;
	border-bottom: solid 1px;
}

.psg-learn-earn-question-header{
	margin-bottom: 30px;
}

.psg-learn-earn-question{
	margin-bottom: 10px;
}

.psg-learn-earn-question-number{
	display: block;
    font-size: small;
    font-weight: bold;
}

.psg-learn-earn-question-number:before{
	content: "Question #";
}

.psg-learn-earn-question-text{
	display: block;
    
    
}

.psg-learn-earn-answers{
}

.psg-learn-earn-answer-stacked{
	margin-bottom:10px;
}

.psg-learn-earn-answer-radio{
    font-size: 1.5em;
    line-height: 1.5em;
	float: left;
}

.psg-learn-earn-answer-text{
    font-size: 1.5em !important;
	margin-left: 30px;
	display: block;
	padding-bottom: 5px;
}
#surveySummary_lblInstructions >p  {
	white-space:normal !important;
}

.psg-learn-earn-answer-textbox{
}

.psg-learn-earn-answer-textarea{
}

.psg-lrnErn-txt{
    font-size: 1em !important;
    overflow: visible !important;
    white-space: normal !important;
}

.trivia_answer_container{
    margin-top:25px;
}
.trivia_button_container{
    margin-top:25px;
}

/* Trivia Answer */
.trivia_answer{
    vertical-align: text-top;
    position: relative;
}
/* Trivia Answer Container */
.trivia_answer_container{
    margin-top: .5em;
}
/* Trivia Answer Text */
.trivia_answer_text{
    display: inline;
    padding-left: 8px;
    padding-right: 4px;
}

/* Trivia Button Container */
.trivia_button_container{
    margin-top: .5em;
    text-align: right;
}
/* Trivia Container */
.trivia_container{
    border: 3px solid;
    padding: 8px 8px 8px 8px;
}
/* Trivia Correct Answer */
.trivia_correct_answer{
    font-weight: bold;
    background-color: lightgreen;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Trivia Correct Answer Text */
.trivia_correct_text{
    font-weight:bold !important; 
    font-size:1.2em !important;
}

/* Trivia Pager Container 
.trivia_pager_container
{
color: #333;
     padding: 8px;
     border: 1px solid #C0C0C0;
     border-top-style: none;
     background-color: #FFF;
     text-align: center;
}
*/
/* Trivia Pager Next Page Link 
.trivia_pager_next_page_link
{
float: right;
     text-align: right;
}
*/
/* Trivia Pager Page Link */
.trivia_pager_page_link{
    text-decoration: none; 
    display: inline-block; 
    line-height: 100%; 
    cursor: pointer;
    font-weight:bold; 
    width:80px; 
    padding-top:2px;
}

/* Trivia Pager Previous Page Link 
.trivia_pager_previous_page_link
{
float: left;
     text-align: left;
}
*/
/* Trivia Question */
.trivia_question{
    font-weight: bold;
}

/* Trivia Question Header */
.trivia_question_header{
    font-weight: normal;
    margin-top: .5em;
}

/* Trivia Question Number */
.trivia_question_number{
    font-size: .8em;
    font-weight: normal;
    color: #555555;
    margin-top: .5em;
}

/* Trivia Title */
.trivia_title{
    font-weight: bold;
    font-size: 1.2em;
}

/* Trivia Wrong Answer Mark */
.trivia_wrong_answer_mark{
    font-weight: bold;
    color: red;
    display: inline-block;
}
/* Trivia Wrong Answer Text */
.trivia_wrong_text{
    font-weight:bold !important; 
    font-size:1.2em !important; 
}

.ispu_containerondetail {
    text-align: left;
    margin-left: 1em
}
.ispu_headerondetail {
    background-image: url("images/instorepickup.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-top: 10px;
    padding-bottom: 4px;
    font-weight: bold
}
.ispu_availability {
    font-size: small
}
.ispu_cell {
    padding-bottom: 4px
}
.ui-sixfive-block-a {
    width: 65%;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px
}
.ui-threefive-block-b {
    width: 35%;
    float: left
}
.ui-threefive-block-a {
    width: 35%;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px
}
.ui-sixfive-block-b {
    width: 65%;
    float: left
}
.psg_point_balance {
    text-align: center;
    font-weight: normal;
    padding-top: .4em;
    padding-bottom: .4em;
    font-weight: bold;
    font-size: 1.2em
}
.controlgroup-textinput {
    padding-top: .22em;
    padding-bottom: .22em
}
.nomobile {
    display: none
}
.ui-claim-status {
    color: #787878;
    font-weight: bold;
    position: absolute;
    bottom: 4px;
    right: 0
}
.psg-desktop-link {
    font-weight: normal !important
}
.app-connection {
    position: absolute;
    right: 45px;
    top: 12px
}
a.app-connection:link,
a.app-connection:hover,
a.app-connection:visited,
a.app-connection:active {
    color: white !important
}
.app-online {
    visibility: hidden
}
.app-offline {
    visibility: visible
}



